body{
    background-color: rgb(215, 219, 255);


}
.firstbox{
    border: 2px solid black;
    background-color: #7ff9ed;
    padding: 50px 20px;
    text-align: center;
    letter-spacing: 1.5px;
}
.secondndbox{
    border: 2px solid black;
    padding: 50px 20px;
    background-color: #7ff9ed;
    text-align: center;
    letter-spacing: 1.5px;
}

.container{
 justify-content: space-evenly;
display: flex;
}
h3{
    text-align: center;
}