body{
    background-color: rgb(174, 212, 199);
}
.container{
    border: 2px solid black;
}
.box1{
    border: 2px solid black;
    width: 250px;
    height: 400px;
    text-align: center;
    padding-top: 40px;
}
.search{
text-align: center;
padding-left: 280px ;
padding-top: 10px;

}
.container2{
    justify-content: space-around;
    display: inline-f
}